.nav-link
body{
    margin: 0
    ;
}
header {
    background-color: rgb(27, 26, 26)
    ; height: 44px;
    color: beige;


}
.nav-link {
    color: rgb(19, 22, 22);
    text-decoration: none;

}
main {
    background-color: blueviolet;
    height: 500px;

}
footer {
    background-color: brown;
    height: 300px;
}